<% layout('layouts/common.ejs') %>

<link rel="stylesheet" href="/css/campground.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

<div class="campground">
  <div class="campground__map" id="map"></div>

  <div class="campground__notice">
    <h1>Campground</h1>
  </div>

  <div class="campground__commend">
    <div class="commend__intro">
      <h1>청량한 숲 여행</h1>
      <p>찬캠프 추천 올해의 여행</p>
    </div>
    <div class="commend__inner">
      <% for(i = 0; i < 6; i++) { %>
        <div class="inner__common">
          <div class="common__href">
            <a href="/campgrounds/<%= campgrounds[i]._id %>">
              <img src="<%= campgrounds[i].images[0].url %>" alt="campImage">
              <i class="fas fa-plus"></i>
            </a>
          </div>
          <div class="common__intro">
            <h1><%= campgrounds[i].title %></h1>
            <div class="intro__line"></div>
            <p><%= campgrounds[i].description %></p>
          </div>
          <form class="intro__form" action="/campgrounds">
            <button>주변캠핑장 보기</button>
          </form>
        </div>
      <% } %>
    </div>
  </div>

  <div class="campground__tag">
    <h1>태그로 찾는 나만의 캠핑장</h1>
    <div class="tag__Sharp">
      <span>&#35;&#32;가족</span>
      <span>&#35;&#32;여름</span>
      <span>&#35;&#32;커플</span>
      <span>&#35;&#32;수영장 있는</span>
      <span>&#35;&#32;둘레길</span>
      <span>&#35;&#32;경치가 좋은</span>
      <span>&#35;&#32;겨울</span>
      <span>&#35;&#32;봄</span>
      <span>&#35;&#32;축제</span>
      <span>&#35;&#32;깨끗한</span>
      <span>&#35;&#32;수영장 있는</span>
      <span>&#35;&#32;바다가 보이는</span>
      <span>&#35;&#32;캠핑</span>
      <span>&#35;&#32;친절한</span>
    </div>
    <form action="/campgrounds">
      <button>검색하기</button>
    </form>
  </div>

  <div class="campground__swiper">
    <div class="swiper__first">
      <h1>행복을 주는 감성 캠핑</h1>

      <div class="swiper__button">
        <div class="swiper-button-left">&#60;</div>
        <div class="swiper-button-right">&#62;</div>
      </div>
    </div>
    <p>한번쯤은 꼭 가볼만한 캠핑장! 추천해요~</p>

    <div class="swiper">

      <div class="swiper-wrapper">
        <!-- Slides -->
        <% for(let i = 0; i < 10; i++) { %>
          <div class="swiper-slide">
            <a href="/campgrounds/<%= campgrounds[i]._id %>">
              <img src="<%= campgrounds[i].images[0].url %>" alt="campImage">
              <div>
                <h1><%= campgrounds[i].title %></h1>
              </div>
            </a>
          </div>
        <% } %>
      </div>

      <div class="swiper-pagination"></div>

    </div>
  </div>

  <div class="campground__div"></div>

  
  <div class="campground__inner">
    <p>총 <span><%= campgrounds.length  %>개</span> 캠핑장이 있습니다.</p>
    <div class="campground__navbar">
      <input type="text" placeholder="캠핑장 이름을 입력해 주세요."/>
    </div>
    <div class="campground__detail">
      <% for(let campground of campgrounds) {%>
        <div class="campground__intro">
          <img src="<%= campground.images[0].url %>" alt="" />
          <div class="intro__introList">
            <li class="list__review">리뷰 수 <%= campground.reviews.length %></li>
            <!-- 좋아요 개수 -->
            <% let reviewrating = 0; %>
            <% for(let review of campground.reviews) { %>
              <% reviewrating += review.rating; %>
            <% } %>
            <!-- 좋아요 개수 끝 -->
            <li class="list__great">좋아요 수  <%= reviewrating %></li>
            <% if(reviewrating > 5) { %>
              <li class="list__best">베스트 캠핑장</li>
              <% } %>
              <li><a href="/campgrounds/<%= campground._id %>">&#91;<%= campground.city %>&#93;<%= campground.title %></a></li>
              <li class="list__briefIntroduction"><%= campground.description.substring(0, 100) + "..." %></li>
            <div class="list__owner__price">
              <li><i class="fas fa-user"></i> <%= campground.author.username %></li>
              <li><i class="fas fa-dollar-sign"></i> <%= campground.price %></li>
            </div>
            <div class="list__function">
              <div><p><i class="fas fa-wifi"></i><br>와이파이</p></div>
              <div><p><i class="fas fa-bed"></i><br>침대</p></div>
              <div><p><i class="fas fa-dog"></i><br>펫</p></div>
              <div><p><i class="fas fa-plug"></i><br>전기</p></div>
              <div><p><i class="fas fa-table-tennis"></i><br>운동시설</p></div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  `

  <%= success  %>
</div>


<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campgrounds = {features: <%- JSON.stringify(campgrounds)%>};
</script>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/js/clusterMap.js"></script>
<script src="/js/campground.js"></script>