<% layout('layouts/common.ejs') %>

<link rel="stylesheet" href="/css/campground.css">
<div class="campground">
  <div class="campground__map" id="map"></div>

  <div class="campground__title">
    <h1>Campground</h1>
  </div>

  <div class="campground__inner">
    <% for(let campground of campgrounds) {%>
      <div class="campground__intro">
        <img src="<%= campground.images[0].url %>" alt="" />
        <div class="intro__introList">
          <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></li>
          <li><%= campground.location %></li>
          <li>캠핑장 주인 : <%= campground.author.username %></li>
          <li>가격 :  <%= campground.price %></li>
          <li>캠핑장 리뷰 :  <%= campground.reviews.length %></li>
          <li><%= campground.description.substring(0, 100) + "..." %></li>
        </div>
      </div>
    <% } %>
  </div>
  `

  <%= success  %>
</div>


<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campgrounds = {features: <%- JSON.stringify(campgrounds)%>};
</script>

<script src="/js/clusterMap.js"></script>