<% layout('layouts/common.ejs') %>

<link rel="stylesheet" href="/css/campground.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

<div class="campground">
  <div class="campground__map" id="map"></div>

  <div class="campground__notice">
    <h1>Campground</h1>
  </div>

  <div class="campground__commend">
    <div class="commend__intro">
      <h1>청량한 숲 여행</h1>
      <p>찬캠프 추천 올해의 여행</p>
    </div>
    <div class="commend__inner">
      <% for(i = 0; i < 6; i++) { %>
        <div class="inner__common">
          <div class="common__href">
            <a href="/campgrounds/<%= campgrounds[i]._id %>">
              <img src="<%= campgrounds[i].images[0].url %>" alt="campImage">
              <i class="fas fa-plus"></i>
            </a>
          </div>
          <div class="common__intro">
            <h1><%= campgrounds[i].title %></h1>
            <div class="intro__line"></div>
            <p><%= campgrounds[i].description %></p>
          </div>
          <form class="intro__form" action="/campgrounds">
            <button>주변캠핑장 보기</button>
          </form>
        </div>
      <% } %>
    </div>
  </div>

  <div class="campground__tag">
    <h1>태그로 찾는 나만의 캠핑장</h1>
    <div class="tag__Sharp">
      <span>&#35;&#32;가족</span>
      <span>&#35;&#32;여름</span>
      <span>&#35;&#32;커플</span>
      <span>&#35;&#32;수영장 있는</span>
      <span>&#35;&#32;둘레길</span>
      <span>&#35;&#32;경치가 좋은</span>
      <span>&#35;&#32;겨울</span>
      <span>&#35;&#32;봄</span>
      <span>&#35;&#32;축제</span>
      <span>&#35;&#32;깨끗한</span>
      <span>&#35;&#32;수영장 있는</span>
      <span>&#35;&#32;바다가 보이는</span>
      <span>&#35;&#32;캠핑</span>
      <span>&#35;&#32;친절한</span>
    </div>
    <form action="/campgrounds">
      <button>검색하기</button>
    </form>
  </div>

  <div class="campground__swiper">
    <div class="swiper__first">
      <h1>행복을 주는 감성 캠핑</h1>

      <div class="swiper__button">
        <div class="swiper-button-left">&#60;</div>
        <div class="swiper-button-right">&#62;</div>
      </div>
    </div>
    <p>한번쯤은 꼭 가볼만한 캠핑장! 추천해요~</p>

    <div class="swiper">

      <div class="swiper-wrapper">
        <!-- Slides -->
        <% for(let i = 0; i < 10; i++) { %>
          <div class="swiper-slide">
            <a href="/campgrounds/<%= campgrounds[i]._id %>">
              <img src="<%= campgrounds[i].images[0].url %>" alt="campImage">
              <div>
                <h1><%= campgrounds[i].title %></h1>
              </div>
            </a>
          </div>
        <% } %>
      </div>

      <div class="swiper-pagination"></div>

    </div>
  </div>

  <div class="campground__div"></div>

  
  <%- include('./partials/campintro.ejs') %>
  
  <div class="campground__test">
    <p>hello</p>
  </div>

  <%= success  %>
</div>


<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campgrounds = {features: <%- JSON.stringify(campgrounds)%>};
</script>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/js/clusterMap.js"></script>
<script src="/js/campground.js"></script>