<% layout('layouts/common.ejs') %>

<link rel="stylesheet" href="/css/campground.css">
<div class="campground">
  <div class="campground__map" id="map"></div>

  <div class="campground__title">
    <h1>Campground</h1>
  </div>

  <div class="campground__commend">
    <div class="commend__intro">
      <h1>청량한 숲 여행</h1>
      <p>찬캠프 추천 올해의 여행</p>
    </div>
    <div class="commend__inner">
      <div class="inner__common">
        <div class="common__href"><a href="javascript:void(0)">+</a></div>
        <div class="common__intro">
          <h1>국립치유의숲</h1>
          <div class="intro__line"></div>
          <p>국립김천치유의숲은 국내 치유의숲 17곳 가운데 평균 고도가 가장 높다. 덕분에 경북 이남 지역에서</p>
          <form class="intro__form" action="/campgrounds">
            <button>주변캠핑장 보기</button>
          </form>
        </div>
      </div>
      <div class="inner__common">
        <div class="common__href"><a href="javascript:void(0)">+</a></div>
        <div class="common__intro">
          <h1>국립치유의숲</h1>
          <div class="intro__line"></div>
          <p>국립김천치유의숲은 국내 치유의숲 17곳 가운데 평균 고도가 가장 높다. 덕분에 경북 이남 지역에서</p>
          <form class="intro__form" action="/campgrounds">
            <button>주변캠핑장 보기</button>
          </form>
        </div>
      </div>
      <div class="inner__common">
        <div class="common__href"><a href="javascript:void(0)">+</a></div>
        <div class="common__intro">
          <h1>국립치유의숲</h1>
          <div class="intro__line"></div>
          <p>국립김천치유의숲은 국내 치유의숲 17곳 가운데 평균 고도가 가장 높다. 덕분에 경북 이남 지역에서</p>
          <form class="intro__form" action="/campgrounds">
            <button>주변캠핑장 보기</button>
          </form>
        </div>
      </div>
      <div class="inner__common">
        <div class="common__href"><a href="javascript:void(0)">+</a></div>
        <div class="common__intro">
          <h1>국립치유의숲</h1>
          <div class="intro__line"></div>
          <p>국립김천치유의숲은 국내 치유의숲 17곳 가운데 평균 고도가 가장 높다. 덕분에 경북 이남 지역에서</p>
          <form class="intro__form" action="/campgrounds">
            <button>주변캠핑장 보기</button>
          </form>
        </div>
      </div>
      <div class="inner__common">
        <div class="common__href"><a href="javascript:void(0)">+</a></div>
        <div class="common__intro">
          <h1>국립치유의숲</h1>
          <div class="intro__line"></div>
          <p>국립김천치유의숲은 국내 치유의숲 17곳 가운데 평균 고도가 가장 높다. 덕분에 경북 이남 지역에서</p>
          <form class="intro__form" action="/campgrounds">
            <button>주변캠핑장 보기</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="campground__tag">
    <h1>태그로 찾는 나만의 캠핑장</h1>
    <div class="tag__Sharp">
      
    </div>
    <form action="/campgrounds">
      <button></button>
    </form>
  </div>

  <div class="campground__inner">
    <% for(let campground of campgrounds) {%>
      <div class="campground__intro">
        <img src="<%= campground.images[0].url %>" alt="" />
        <div class="intro__introList">
          <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></li>
          <li><%= campground.location %></li>
          <li>캠핑장 주인 : <%= campground.author.username %></li>
          <li>가격 :  <%= campground.price %></li>
          <li>캠핑장 리뷰 :  <%= campground.reviews.length %></li>
          <li><%= campground.description.substring(0, 100) + "..." %></li>
        </div>
      </div>
    <% } %>
  </div>
  `

  <%= success  %>
</div>


<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campgrounds = {features: <%- JSON.stringify(campgrounds)%>};
</script>

<script src="/js/clusterMap.js"></script>