<% layout('layouts/common.ejs') %>

<link rel="stylesheet" href="/css/campground.css">
<div class="campground">
  <div class="campground__map" id="map"></div>

  <div class="campground__title">
    <h1>Campground</h1>
  </div>

  <div class="campground__inner">
    <% for(let campground of campgrounds) {%>
      <div class="campground__intro">
        <img src="<%= campground.images[0].url %>" alt="" />
        <div>
          <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></li>
          <li><%= campground.description %></li>
        </div>
      </div>
    <% } %>
  </div>
  `

  <%= success %>
</div>


<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campgrounds = {features: <%- JSON.stringify(campgrounds)%>};
</script>

<script src="/js/clusterMap.js"></script>