<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
  <!-- fontAwesome -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
  <link rel="icon" href="/campLogo.png">
  <link rel="stylesheet" href="/css/common.css"> 
  <link rel="stylesheet" href="/css/home.css"> 

  <!-- Gsap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
  <!-- Lodash -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- ScrollMagic -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
  <!-- My js -->
  <script defer src="/js/home.js"></script>
  <script defer src="/js/common.js"></script>
  <title>모두의캠프</title>
</head>
<body>
  <%- include('./partials/navbar.ejs') %>
  <div class="home">
    <div class="home__badgeEl">
      <p>베스트</p>
      <p>캠핑장</p>
      <p>구경하기</p>
    </div>
    <%- include('./partials/Home/homeTop.ejs') %>
    <%- include('./partials/Home/homeLoginRecommend.ejs') %>
    <%- include('./partials/Home/homeIntro.ejs') %>
    <%- include('./partials/Home/homeIntro2.ejs') %>
    <%- include('./partials/Home/homeIntro3.ejs') %>
  </div>
  <%- include('./partials/footer.ejs') %>

  <script>
    // 서버에서 받아온 success 값을 prompt 창에 표시
    if('<%= success %>' === 'madeIt') {
      alert("로그인에 성공하였습니다. 환영합니다.");
    } else if('<%= success %>' === 'makeIt') {
      alert("회원가입에 성공하였습니다. 환영합니다.");
    }

  </script>

</body>
</html>