<% layout('layouts/common.ejs') %>

<div class="showPage">
  <div class="showPage__left">
    <img src="<%= campground.image %>" alt="#">
    <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2>
    <h3><%= campground.price %></h3>
    <h3><%= campground.author.username %></h3>
    <p><%= campground.description %></p>
    <% if(currentUser && campground.author.equals(currentUser)) { %>
    <div class="showPage__button">
      <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
        <button class="button-24" role="button">삭제하기</button>
      </form>
      <button class="button-25" role="button">
        <a href="/campgrounds/<%= campground._id %>/edit">수정하기</a>
      </button>
    </div>
    <% } %>
  </div>
  <div class="show__right">
    <h2>리뷰를 남겨보세요.</h2>
    <form class="review__form" action="/campgrounds/<%= campground._id %>/reviews" method="POST">
      <div class="form__first">
        <label for="rating">별점</label>
        <input type="range" name="review[rating]" id="rating" min="0" max="5">
      </div>
      <div class="form__second">
        <textarea name="review[body]" id="review" cols="30" rows="10" placeholder="리뷰를 남겨주세요." required></textarea>
      </div>
      <button class="button-8" role="button">제출</button>
    </form>
    <div class="review__result">
      <% for(let review of campground.reviews) {%>
        <div>
          <p>Rating: <%= review.rating %></p>
          <p>Review: <%= review.body %></p>
          <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
            <button class="button-24" role="button">삭제하기</button>
          </form>
        </div>
      <% } %>
    </div>
  </div>
</div>



