<% layout('layouts/common.ejs') %>
<!-- showPage css && js -->
<link rel="stylesheet" href="/css/stars.css">
<link rel="stylesheet" href="/css/show.css">
<script defer src="/js/showPageMap.js"></script>
<script defer src="/js/show.js"></script>

<!-- Show hompage 메인 -->
<div class="showPage">
  <!-- Show page top -->
  <%- include('../partials/CampShow/showTop.ejs') %>

  <!-- Show page center -->
  <%- include('../partials/CampShow/showCenter.ejs') %>

  <!-- Show page bottom -->
  <%- include('../partials/CampShow/showBottom.ejs') %>
</div>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campground = <%- JSON.stringify(campground)%>;
</script>




