<!-- campgrounds.ejs 에서 사용 -->

<div class="campground__inner">
  <p>총 <span><%= campgrounds.length  %>개</span> 캠핑장이 있습니다.</p>
  <div class="campground__navbar">
    <input type="text" placeholder="캠핑장 이름을 입력해 주세요."/>
  </div>
  <div class="campground__detail">
    <% for(let i = (page - 6); i < page; i++) { %>
      <% if(campgrounds[i] === null || campgrounds[i] === undefined) { %>
        <% continue; %>
      <% } %>
      <div class="campground__intro">
        <img src="<%= campgrounds[i].images[0].url %>" alt="" />
        <div class="intro__introList">
          <li class="list__review">리뷰 수 <%= campgrounds[i].reviews.length %></li>
          <!-- 좋아요 개수 -->
          <% let reviewrating = 0; %>
          <% for(let review of campgrounds[i].reviews) { %>
            <% reviewrating += review.rating; %>
          <% } %>
          <!-- 좋아요 개수 끝 -->
          <li class="list__great">좋아요 수  <%= reviewrating %></li>
          <% if(reviewrating > 5) { %>
            <li class="list__best">베스트 캠핑장</li>
            <% } %>
            <li><a href="/campgrounds/<%= campgrounds[i]._id %>">&#91;<%= campgrounds[i].city %>&#93;<%= campgrounds[i].title %></a></li>
            <li class="list__briefIntroduction"><%= campgrounds[i].description.substring(0, 30) + "..." %></li>
          <div class="list__owner__price">
            <li><i class="fas fa-user"></i> 
              <% if(campgrounds[i].author && campgrounds[i].author.username) { %>
                  <%= campgrounds[i].author.username %>
              <% } else { %>
                  no Owner
              <% } %>
          </li>
            <li><i class="fas fa-dollar-sign"></i> <%= campgrounds[i].price %></li>
          </div>
          <div class="list__function">
            <% if(campgrounds[i].wifi === '있음') { %>
              <div><p><i class="fas fa-wifi"></i><br>와이파이</p></div>
            <% } %>
            <div><p><i class="fas fa-bed"></i><br>침대</p></div>
            <% if(campgrounds[i].pet === '가능') { %>
              <div><p><i class="fas fa-dog"></i><br>펫</p></div>
            <% } %>
            <% if(campgrounds[i].electricity === '있음') { %>
              <div><p><i class="fas fa-plug"></i><br>전기</p></div>
            <% } %>
            <% if(campgrounds[i].sportsFacility !== '없음') { %>
              <div><p><i class="fas fa-table-tennis"></i><br>운동시설</p></div>
            <% } %>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <div class="campground__buttons">
    <% for(let i = 1; i <= currentPage; i++) { %>
        <a class="buttons__a" href="/campgrounds?page=<%= i %>"><%= i %></a>
    <% } %>
  </div>
</div>