<div class="showPage__bottom">
  <div class="bottom__inner">

    <div class="inner__map">
      <div id="map" style="width: 500px; height: 400px;"></div>
    </div>

    <div class="inner__review">
      <% if(currentUser) { %>
      <div class="show__right">
        <h2>리뷰를 남겨보세요.</h2>
        <form class="review__form" action="/campgrounds/<%= campground._id %>/reviews" method="POST">
          <div class="form__first">
            <label for="rating">별점을 선택하세요.</label>
            <fieldset class="starability-basic">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div class="form__second">
            <textarea name="review[body]" id="review" maxlength="130" placeholder="리뷰를 남겨주세요." required></textarea>
          </div>
          <button class="button-87" role="button">제출</button>
        </form>
        <% } %>
      </div>
    </div>
  </div>

  <div class="bottom__review">
    <div class="review__result">
      <% for(let review of campground.reviews) {%>
        <div>
          <h1><%= review.author.username %></h1>
          <p class="starability-result" data-rating="<%= review.rating %>"></p>
          <p class="result__review"><%= review.body %></p>
          <% if(currentUser && review.author.equals(currentUser._id)) { %>
          <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
            <button class="button-24" role="button">삭제하기</button>
          </form>
          <% } %>
        </div>
      <% } %>
    </div>
  </div>

</div>