<div class="showPage__center">
  <!-- cetner left -->
  <div class="center__left">
      <div class="carousel-container">
        <% campground.images.forEach((img, i) => { %>
          <div class="carousel-slide">
            <img src="<%= img.url %>" alt="img-<% i %>">
          </div>
        <% }) %>
      </div>
      <div class="carousel-button">
        <button class="button-87" id="prevBtn" role="button">이전</button>
        <button class="button-87" id="nextBtn" role="button">다음</button>
      </div>

    <% if(currentUser && campground.author && campground.author.equals(currentUser._id)) { %>
      <div class="showPage__button">
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
          <button class="button-24" role="button">삭제하기</button>
        </form>
        <button class="button-25" role="button">
          <a href="/campgrounds/<%= campground._id %>/edit">수정하기</a>
        </button>
      </div>
    <% } %>
  </div>

  <!-- center right -->
  <div class="center__right">
    <div class="right__intro">
      <div class="intro__introduce">
        <p>캠핑장 이름</p>
        <h3><%= campground.title %></h3>
      </div>
      <div class="intro__introduce">
        <p>캠핑장 위치</p>
        <h3><%= campground.city %></h3>
      </div>
      <div class="intro__introduce">
        <p>가격</p>
        <h3><%= campground.price %></h3>
      </div>
      <div class="intro__introduce">
        <p>주인</p>
        <% if (campground.author) { %>
            <h3><%= campground.author.username %></h3>
        <% } else { %>
            <p>주인 정보 없음</p>
        <% } %>
    </div>
      <div class="intro__introduce">
        <p>주소</p>
        <h3><%= campground.location %></h3>
      </div>
      <div class="intro__introduce">
        <p>주변시설</p>
        <h3><%= campground.sportsFacility %></h3>
      </div>
      <div class="intro__introduce">
        <p>문의처</p>
        <h3>
          <%= campground.phoneNumber.substring(0, 3) %> &#45;
          <%= campground.phoneNumber.substring(3, 7) %> &#45;
          <%= campground.phoneNumber.substring(7, 11) %>
        </h3>
      </div>
      <div class="intro__introduce">
        <p>캠핑장 유형</p>
        <h3><%= campground.category %></h3>
      </div>
    </div>
  </div>
</div>